asn1crypto==0.24.0
backports.functools-lru-cache==1.4
bleach==1.5.0
boto==2.49.0
boto3==1.9.53
botocore==1.12.53
bz2file==0.98
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
chrono==1.0.2
colorama==0.3.9
cryptography==2.2.1
cycler==0.10.0
cymem==2.0.2
cytoolz==0.8.2
decorator==4.1.2
dill==0.2.8.2
docutils==0.14
easydict==1.7
en-core-web-sm==2.0.0
entrypoints==0.2.3
enum34==1.1.6
ffmpeg==1.4
ftfy==4.4.2
future==0.16.0
gensim==3.6.0
GPy==1.9.2
h5py==2.7.1
hickle==2.1.0
html5lib==0.9999999
idna==2.7
imutils==0.5.2
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
jedi==0.10.2
Jinja2==2.9.6
jmespath==0.9.3
jodel-api==1.2.11
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
mkl-fft==1.0.0
mock==2.0.0
msgpack==0.5.6
msgpack-numpy==0.4.4.1
msgpack-python==0.4.8
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
notebook==5.0.0
numpy==1.15.4
olefile==0.44
Optunity==1.1.1
pandas==0.22.0
pandocfilters==1.4.2
paramz==0.9.1
pbr==4.0.2
pickleshare==0.7.4
Pillow==5.0.0
plac==0.9.6
preshed==2.0.1
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
pycparser==2.18
pygame==1.9.3
Pygments==2.2.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyreadline==2.1
PySocks==1.6.8
python-dateutil==2.6.1
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
regex==2018.1.10
requests==2.19.1
s3transfer==0.1.13
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==0.19.1
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smart-open==1.7.1
sobol==0.9
sobol-seq==0.1.2
spacy==2.0.4
stop-words==2018.7.23
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
testpath==0.3.1
thinc==6.10.0
toolz==0.9.0
torch==1.0.1
torchvision==0.2.2
tornado==4.5.2
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
urllib3==1.23
varint==1.0.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
wget==3.2
widgetsnbextension==3.0.2
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.11
